.color-display {
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-shadow: 0 0 1px #ffffff, 0 0 2px #888;
    vertical-align: middle;
    width: 128px;
}
table .color-display {
    width: 100%;
}